.gallery-images-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    user-select: none;

    .content-item {
        position: relative;
        padding-bottom: 100%;
        cursor: pointer;
        border-radius: 0.25rem;
        overflow: hidden;
        border: 2px solid transparent;

        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.is-current {
            border: 2px solid var(--color-secondary);
        }
    }


}

.gallery-load-more {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}