.gallery-panel {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 2.5rem 1.5rem;
    background: #dadada;
    border-radius: 0.25rem;

    .panel-image-preview {
        position: relative;
        width: 100%;
        margin-top: 2.5rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    .panel-image-controls {
        display: flex;
        align-items: center;
        align-self: stretch;
        margin-top: 0.5rem;
    }
    .panel-image-name {
        margin-right: 1rem;
    }
    .panel-image-delete {
        margin-left: auto;
        color:rgb(120, 10, 10);
        cursor:pointer;
        user-select: none;
    }

    .panel-separator {
        width: 100%;
        height: 2px;
        background: var(--color-primary);
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    .panel-add-images {
        align-self: flex-start;
        margin-top: 2.5rem;
    }

    .panel-load-images {
        margin-bottom: 1.5rem;

        .panel-load-progress {
            opacity: 0;
            pointer-events: none;
            transition: opacity 1s linear;
            transition-delay: 3s;
        }

        &.panel-load-images-loading {
            .panel-load-progress {
                opacity: 1;
                transition: none;
            }
        }

        &.panel-load-images-loaded {
            .panel-load-progress {
                color: #269327;
            }
        }
    }

    &:after {
        opacity: 0;
        transition: opacity 0.25s ease-out;
        background: rgba(255,255,255,0.6);
        pointer-events: none;
        content: "Drop images to upload";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    
        color: var(--color-secondary);
        font-size: 2em;
        text-align: center;
    }

    &.gallery-panel-files {
        &:after {
            opacity: 1;
            transition: opacity 0.25s ease-out;
        }
    }
}